<div class="container__footer">
    <div class="container__footer-newsletter">
        <h3>Inscreva-se na nossa Newsletter</h3>
        <span>Torne-se um membro e receba todas as novidades em primeira mão</span>
    </div>
    <div class="container__footer-email">
        <span>E-mail</span>
        <div>
            <div class="container__footer-email-input">
                <input type="email" placeholder="seuemail@site.com.br">
            </div>
            <button>Inscrever</button>
        </div>
    </div>
</div>